<div>
  <link href="./component2.css" rel="stylesheet" />
  <div class="component2-container">
    <span class="component2-text">
      <span class="component2-text1">
        በ&quot;የታል አለቃ&quot; ስራ ላይ በዜማ ድርሰት እና በቅንብር አንድ ያለው የካሙዙ ተሳትፎ፣ እነሆ
        &quot;ማጀቴ&quot; የተሰኘውን የሙዚቃ አልበም ወልዷል፡፡
      </span>
      <br class="component2-text2" />
      <br class="component2-text3" />
      <span class="component2-text4">
        የ&quot;ማጀቴ&quot; አልበም ግጥም እና ዜማ ሙሉ በሙሉ በራሷ በኒና ግርማ የተሰራ ሲሆን፣ በሻኩራ ፕሮዳክሽን
        አማካይነት አልበሙን ፕሮዲዩስ ያደረገው ካሙዙ ካሳ ደግሞ የሙሉ ዘፈኖቹ አቀናባሪ ነው፡፡ የድምጽ ማዋሃድ
        (ሚክሲንግ) ስራው በይትባረክ ክፍሌ ተከውኗል፡፡
      </span>
      <br class="component2-text5" />
      <span class="component2-text6">
        ከራፕ በተጨማሪ የአር ኤንድ ቢ፣ የዳንስሆል፣ አፍሮቢት እና ሌሎች ቅይጥ ስልተ-ምቶችን ያካተተው
        &quot;ማጀቴ&quot; አልበም፣ በዜማ እና በግጥም ስብጥራቸው የተመረጡ 14 ስራዎችን ይዟል፡፡ ደርዝ ባላቸው
        ግጥሞች አማካኝነት በፍቅር፣ በቤተሰብ፣ በአገር እና ሌሎች ማኅበራዊ ጉዳዮች ላይ ያተኮሩት እነዚህ ስራዎች የኒናን
        ተሰጥኦ አጉልተው የሚያሳዩ ናቸው። በአጠቃላይ &quot;ማጀቴ&quot;፣ ኒና የራሷን ቀለም ይዛ የመጣችበት አዲስ
        የሙዚቃ አልበም ነው፡፡
      </span>
      <br />
      <span></span>
    </span>
  </div>
</div>
