<div>
  <link href="./component4.css" rel="stylesheet" />
  <div class="component4-container">
    <span class="component4-text">
      <span class="component4-text1">
        ከዚያ በኋላም &quot;ለአገራችን&quot;፣ &quot;አክብራት&quot; እና &quot;የታል አለቃ&quot;
        የተሰኙ ነጠላ ዜማዎችን አከታትላ እንካችሁ አለች፡፡ በተለይ &quot;የታል አለቃ&quot; የተሰኘው ስራዋ በሙዚቃ
        አድማጭ ዘንድ ይበልጥ እንድትታወቅ አድርጓታል፡፡ በግሏ ከምትሰራቸው ዘፈኖች በተጨማሪም ለልዩ ልዩ ዓላማዎች በሚሰሩ
        የጋራ የሙዚቃ ስራዎች ላይም ተሳትፎ አድርጋለች፤ &quot;ጓደኝነት&quot; የተሰኘው የአገራችን ወጣት እና
        አንጋፋ ድምጻዊያን የተሳተፉበት ዘፈን ለዚህ ማሳያ ነው፡፡
      </span>
      <br class="component4-text2" />
      <br class="component4-text3" />
      <span class="component4-text4">
        በማህበራዊ ትስስር ገጾች ላይ የምትለቃቸውን አጫጭር ዘፈኖች የተመለከተው የሙዚቃ አቀናባሪ ካሙዙ ካሳ የሙሉ አልበም
        ፕሮጀክትን አብሯት መጀመሩ ብዙ እንዳገዛት ኒና ትናገራለች፡፡
      </span>
      <span></span>
    </span>
  </div>
</div>
