<div>
  <link href="./feature-card.css" rel="stylesheet" />
  <div class="feature-card-feature-card">
    <span class="feature-card-text">
      <span>
        ትውልዷ በመዲናችን አዲስ አበባ የሆነው ኒና ግርማ፣ በአገራችን ካሉ በጣት የሚቆጠሩ ሴት ራፐሮች መካከል
        ትጠቀሳለች፡፡
      </span>
      <br />
      <br />
      <span>
        ገና የሁለተኛ ደረጃ ትምህርት ቤት እያለች፣ በጊዜው በሚከበሩ ልዩ ልዩ ክብረ-በዓሎች (ካርኒቫሎች) ላይ መዚቃዎችን
        በማቅረብ ነው ወደ ሙዚቃ መሳብ የጀመረችው፡፡ በመቀጠልም በማህበራዊ የትስስር ገጾች በምትለቃቸው አጫጭር ዘፈኖች
        ታዋቂ መሆን ቻለች፡፡ በዚሁ መንገድ አድማጮችን ማግኘቷን ቀጥላ፣ &quot;አዲስ ገጽ&quot; የተሰኘ ነጠላ
        ዜማዋን በመስከረም ወር 2011 ዓ.ም በይፋ በመልቀቅ ወደ ፕሮፌሽናል የሙዚቃ ዓለም ገባች፡፡
      </span>
      <br />
    </span>
  </div>
</div>
