<div>
  <link href="./feature-card1.css" rel="stylesheet" />
  <div class="feature-card1-feature-card">
    <span class="feature-card1-text">
      <span>
        ከዚያ በኋላም &quot;ለአገራችን&quot;፣ &quot;አክብራት&quot; እና &quot;የታል አለቃ&quot;
        የተሰኙ ነጠላ ዜማዎችን አከታትላ እንካችሁ አለች፡፡ በተለይ &quot;የታል አለቃ&quot; የተሰኘው ስራዋ በሙዚቃ
        አድማጭ ዘንድ ይበልጥ እንድትታወቅ አድርጓታል፡፡ በግሏ ከምትሰራቸው ዘፈኖች በተጨማሪም ለልዩ ልዩ ዓላማዎች በሚሰሩ
        የጋራ የሙዚቃ ስራዎች ላይም ተሳትፎ አድርጋለች፤ &quot;ጓደኝነት&quot; የተሰኘው የአገራችን ወጣት እና
        አንጋፋ ድምጻዊያን የተሳተፉበት ዘፈን ለዚህ ማሳያ ነው፡፡
      </span>
      <br class="feature-card1-text2" />
      <br />
      <span>
        በማህበራዊ ትስስር ገጾች ላይ የምትለቃቸውን አጫጭር ዘፈኖች የተመለከተው የሙዚቃ አቀናባሪ ካሙዙ ካሳ የሙሉ አልበም
        ፕሮጀክትን አብሯት መጀመሩ ብዙ እንዳገዛት ኒና ትናገራለች፡፡
      </span>
    </span>
  </div>
</div>
